# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
htmlcov/
.tox/
.nox/
.pytest_cache/
.hypothesis/

# Pyenv
.python-version

# virtualenv
venv/
ENV/
env/
.env
.venv/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Env files
.env
.venv

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
# macOS
# Ignore macOS Finder metadata files everywhere
.DS_Store
**/.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and databases
*.log
*.sql
*.sqlite

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Sphinx build
_build/

# Profiling data
.prof

# Coverage XML
coverage.xml

# Local settings
local_settings.py

# pyre type checker
.pyre/


.vscode
.vscode/*

cfg/prompt.txt

outputs/*